.bb-footer {
  position: relative;
  z-index: 0; /* ensure header (sticky) stays above */
  background-color: #293994; /* custom brand color */
  color: #d6e4ef;

  a {
    color: #d6e4ef;
    text-decoration: none;
  }

  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  &__title {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: .75rem 0;
    }
  }

  &__divider {
    border-color: rgba(255, 255, 255, 0.8);
  }

  &__logo {
    width: 28px;
    display: inline-block;
  }
}

